.header_text_about {
    position: relative;
    top: 0px;
    color: white;
}

.kuma_era {
    position: relative;
    top: 0px;
    color: white;
}

.kuma_era2 {
    position: relative;
    top: 0px;
    color: white;
}

.logo_kut {
    width: 27px;
    margin-left: 20px;
}

.navbar-brand {
    margin-left: 20px;
}

.btn.btn-outline-success.ert_kuma_2 {
    background-color: #95C43E;
}

.btn.btn-outline-success.ert_kuma_2:hover {
    background-color: #212529;
    border: solid #95C43E;
    color: #95C43E;
}






